<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Course code:</strong>
  <%= @course.course_code %>
</p>

<p>
  <strong>Course type:</strong>
  <%= @course.course_type %>
</p>

<p>
  <strong>Teaching type:</strong>
  <%= @course.teaching_type %>
</p>

<p>
  <strong>Exam type:</strong>
  <%= @course.exam_type %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @course.credit %>
</p>

<p>
  <strong>Limit num:</strong>
  <%= @course.limit_num %>
</p>

<p>
  <strong>Student num:</strong>
  <%= @course.student_num %>
</p>

<p>
  <strong>Class room:</strong>
  <%= @course.class_room %>
</p>

<p>
  <strong>Course time:</strong>
  <%= @course.course_time %>
</p>

<p>
  <strong>Course week:</strong>
  <%= @course.course_week %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @course.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @course.updated_at %>
</p>

<p>
  <strong>Open:</strong>
  <%= @course.open %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
